.App {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  width: 720px;
  height: 620px;
  gap: 10px;
}
