.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  width: 720px;
  height: 620px;
  gap: 4px;
}
.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.input-container input {
  width: 250px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
}
.input-container label {
  font-size: 22px;
}
.input-container textarea {
  padding: 10px;
  height: 120px;
}
.container .btn {
  width: 250px;
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  width: 420px;
  height: 620px;
  gap: 10px;
}
.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.userContainer .userTitle {
  margin-top: 24px;
  margin-left: 10px;
}
.userContainer .userData {
  margin-left: 10px;
  width: 90%;
  padding: 10px;
  height: 120px;
  border: 1px solid black;
  border-radius: 6px;
}
.userContainer .userData ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.userContainer .userData ul li {
  list-style: none;
}
