* {
  text-decoration: none;
  font-family: sans-serif;
}
.Header-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  height: 120px;
}

.Header-Container .title {
  margin: 0px 40px 0px 40px;
}
.Header-Container .navegation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 40px 0px 40px;
}
.navegation button {
  width: 100px;
  height: 40px;
  font-size: 22px;
  font-weight: 100;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: black;
}

.navegation .link {
  color: white;
}
.navegation .icon {
  margin-top: 6px;
  width: 25px;
  height: 25px;
}
